<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>	

	  <!--File Appender-->
	  <appender name="file" type="log4net.Appender.RollingFileAppender">		  
		<file value="logs\log" />		
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false" />
		<datePattern value=".dd-MM-yyyy'.txt'" />		  
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="25MB" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
		  <conversionPattern value="%date | [%thread] | %level | %logger - %message%newline" />
		</layout>
		<encoding value="utf-8" />
	  </appender>
	
	<!--Console appender-->
	<appender name="console" type="log4net.Appender.ColoredConsoleAppender">
		<mapping>
			<level value="INFO" />
			<forecolor value="Green" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<forecolor value="Yellow" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<forecolor value="Red" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<forecolor value="Blue" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%date | [%thread] | %level | %logger - %message%newline" />
		</layout>
	</appender>
</log4net>